<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alura.agenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.ListaAlunosActivity">

        </activity>

        <activity android:name=".activities.FormularioActivity"
                android:label="@string/app_form_name" >
            <!-- Intenções do App são designados pelo Intent Filter -->
            <intent-filter>

                <!-- Indicando também é a Activity principal -->
                <action android:name="android.intent.action.MAIN" />

                <!-- Qualquer aplicação puder lançar esse app, encontrará essa activie
                    por isso aparece na tela de app's, instalados -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>